div{
    height: 100px;
    width: 200px;
    background-color: aquamarine;
    border: 2px;
    border-style: dotted;
    border-color: brown;
}
h1{
    border: 5px;
    border-color: blue;
    border-style: dashed;
    border: width 5px;
    width: 200px;
    border-radius: 20px;
    padding: 1px 2px 3px 4px;
    margin-top: 50px;

}
p{
    border: 2px,dotted,black;
    background-color: yellow;

}
