* {
    color: pink;
}


p {
    color: red;
}

h1{
    color: greenyellow;
}

button{
    color: aqua;
    background-color: green;
}

body{
    background-color: black;
}
#heading1{
    color: brown
    ;
}
#heading2{
    color: blueviolet;
}
#heading3{
    color: blue;
}
.myclass{
    color: yellow;
}
