/*text-align property*/
h1{
    text-align: center;
}
p{
    text-align: left;
}
/*text-decoration property*/
h1{
    text-decoration: red underline;
}
a{
    text-decoration: none;
}

/*font weight*/
#first{
    font-weight: 100;/*lighter*/
}
#second{
    font-weight: 200; 
}
#third{
    font-weight: 400;
}
#fourth{
    font-weight: 900;/*bolder*/
}

/*font-family*/
#font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#units{
    font-size: 20px;
}
#height1{
    line-height: 2px;
}
#transform{
    text-transform: capitalize;
}

